.code-debug {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 1rem;
    /* padding: 0.75rem; */
    color: rgb(117, 117, 117);
    /* background-color: pink; */
    font-size: 12px;
    overflow: auto;
    /* overflow-y: scroll; */
    /* scroll-behavior:smooth; */
}
.code-debug-placeholder {
    height: 0.75rem;
    background-color: pink;
}
.code-debug-box {
    padding-top: 0.125rem;
}

/* .code-debug-felx{
  position: fixed; 
} */
